body {
  background: #f9f9f9;
  color: #222;
  font-family: sans-serif;
  line-height: 1.4;
  margin: auto;
  max-width: 33rem;
  padding: 0 1rem;
}

button,
input {
  font-size: inherit;
  padding: .4rem 1rem;

  &[disabled] {
    cursor: not-allowed;
  }
}

output {
  display: inline-block;
  min-width: 5rem;
  min-height: 1rem;
}

[ data-turnstile-error ] {
  output {
    color: darkred;

    &:before {
      content: '❌' / 'Error:';
      margin-right: .5rem;
    }
  }
}

[ data-turnstile-error ] {
  &[ appearance = always ] {
    bot-detect {
      border-left: 6px solid red;
      border-radius: 2px;
    }
  }
}

footer {
  border-top: 1px dotted silver;
  margin-top: 3rem;
}

my-form-with-bot-detect,
bot-detect {
  display: block;
  min-height: .5rem;
  margin: 1.5rem 0;
}

* {
  outline-offset: .2rem;
  text-underline-offset: .2rem;
}
